.signup-container {
    text-align: center;
    display:flex;
    flex-direction: row;
}
.rightSide{
    display:flex;
    float:right;
}
.leftSide{
    display:flex;
   margin-left:0 !important;
    margin-left:auto;
    float:left;
}
.centerInput{
    float:none !important;
    width:100% !important;
    text-align: center !important;
    display:block !important;
    margin-left:0!important;
    margin-right:0!important;
    margin-left: auto !important;
    margin-right:auto!important;
}

.signup-content {
    background: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 2px;
    width: 500px;
    display: inline-block;
    margin-top: 30px;
    vertical-align: middle;
    position: relative;
    padding: 35px;

}

.social-btn {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
}

.social-btn img {
    height: 32px;
    float: left;
    margin-top: 10px;
}

.social-btn.google {
    margin-top: 7px;
}

.social-btn.facebook img {
    height: 24px;
    margin-left: 3px;
}

.centered{
}

.social-btn.github img {
    height: 24px;
    margin-left: 3px;
}

.login-link {
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
}

.signup-title {
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.65);
}

@media screen and (max-width: 600px) {
    .signup-container {
        display:block;
        max-width:100%;
    }
}
