table.cinereousTable {
    border: 6px solid #948473;
    background-color: #FFE3C6;
    width: 100%;
    text-align: center;
}

table.cinereousTable td, table.cinereousTable th {
    border: 1px solid #948473;
    padding: 4px 4px;
}

table.cinereousTable tbody td {
    font-size: 13px;
}

table.cinereousTable thead {
    background: #948473;
    background: -moz-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
    background: -webkit-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
    background: linear-gradient(to bottom, #afa396 0%, #9e9081 66%, #948473 100%);
}

table.cinereousTable thead th {
    font-size: 17px;
    font-weight: bold;
    color: #F0F0F0;
    text-align: center;
    border-left: 2px solid #948473;
}

table.cinereousTable thead th:first-child {
    border-left: none;
}

table.cinereousTable tfoot {
    font-size: 16px;
    font-weight: bold;
    color: #F0F0F0;
    background: #948473;
    background: -moz-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
    background: -webkit-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
    background: linear-gradient(to bottom, #afa396 0%, #9e9081 66%, #948473 100%);
}

table.cinereousTable tfoot td {
    font-size: 16px;
}

.booksContainer {
    display: flex;
    max-width: 100%;
    justify-content: center;
    flex-direction: column;
}

.booksContainer input[type=text] {
    float: left;
    padding: 7px;
    border: none;
    margin: 1px;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #948473;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}


.booksContainer .button-class {
    background-color: #948473;
    border: none;
    color: white;
    font-weight: bold;
    padding: 7px !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    margin: 1px;
    cursor: pointer;
}


.rowContainer {
    display: inline-block;

    justify-content: left;
    flex-direction: row;
}

select {
    position: relative;
    color: white;
    padding-left: 3px;
    font-weight: bold;
    background-color: #948473;
    display: inline-flex;
    max-width: 100%;
    margin-bottom: 0px !important;
    font-size: 16px;
    /*border: 1px solid #CCC;*/
    height: 32px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /*background: url(http://www.stackoverflow.com/favicon.ico) 96% / 15% no-repeat #EEE;*/
}

select option {
    color: white;
    background-color: #948473;
    font-weight: bold;
}


select::-ms-expand {
    display: none;
}


.table-button {
    background-color: #948473;
    border: none;
    color: white;
    font-weight: bold;
    padding: 7px !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    margin: 1px;
    cursor: pointer;
}


@media screen and (max-width: 600px) {
    .booksContainer a, .booksContainer input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .booksContainer input[type=text] {
        border: 1px solid #ccc;
        width: 100%;
    }

    select {
        width: 50%;
        float: left;
        display: inline-block;
        position: relative;
        margin:0 !important;
    }

    .booksContainer button-class {
        display: inline-block;
        width: 50% !important;
        margin: 0 !important;
        float: right;
    }

    .table-button {
        display: flex !important;
        position: relative !important;
        justify-content: center !important;

    }
}

@media screen and (min-width: 0\0
) {
    select {
        background: none \9;
        padding: 5px \9;
    }
}
