.app-header {
    height: 60px;
    position: relative;
    z-index: 10;

}

.app-title {
    line-height: 60px;
    vertical-align: middle;
    font-size: 1.35em;
    color:#AD6A34;
}

.app-branding {
    float: left;
}

.app-options {
    float: right;
}

.app-nav ul {
    list-style-position: none;
    margin: 0;
    color:#AD6A34;
    padding: 0;

}

.app-nav ul li {
    list-style-type: none;
    display: inline-block;
}

.app-nav ul li a {
    display: inline-block;
    line-height: 60px;
    vertical-align: middle;
    padding-left: 15px;
    padding-right: 15px;
    color:#AD6A34;
}

.app-nav ul li a:hover {
    color: #4E1D04;
}

.app-nav ul li a.active {
    color: #4E1D04;
}
.logoBook{
  max-width:132.1px;
  margin-top:-20px !important;

}
